body {
  background-color: white;
}
h2 {
  color: black;
  font-weight: bold;
}
input,
button {
  border: white;
}
button:hover {
  background-color: white;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
#result {
  font-size: 18px;
  font-weight: bold;
}
